<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_2008_Week_ZEnd.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=DESKTOP-TKLNL00;Initial Catalog=QLSV;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="_2008_Week_ZEnd.Properties.Settings.QLSVConnectionString1"
            connectionString="Data Source=DESKTOP-TKLNL00;Initial Catalog=QLSV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="_2008_Week_ZEnd.Properties.Settings.QLSV2ConnectionString"
            connectionString="Data Source=DESKTOP-TKLNL00;Initial Catalog=QLSV2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>