<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BaiOn1.Properties.Settings.SchoolManagement1ConnectionString"
            connectionString="Data Source=DESKTOP-TKLNL00;Initial Catalog=SchoolManagement1;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>